$breakpoints: (
    fold: 375px,
    lg : 490px,
);


@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
.container-pag-tecnologias {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include media-up(lg){
        gap: 50px;
        flex-direction: column;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
            color: #3D6DC4;
        }
    }
    .img-container {
        img {
            width: 80%;
        }
    }
}