<aside class="aside-container animate__animated animate__bounceInRight">
  <ul>
    <li class="animate__animated animate__fadeIn animate__faster">
      <a routerLink="">Inicio</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__fast">
      <a routerLink="contacto">Contacto</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slow">
      <a routerLink="tecnologias">Tecnologías</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slower">
      <a routerLink="proyectos">Proyectos</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slower">
      <a routerLink="servicios">Servicios</a>
    </li>
  </ul>
</aside>
