<aside class="aside-container animate__animated animate__bounceInRight">
  <ul>
    <li class="animate__animated animate__fadeIn animate__faster">
      <a href="#">Inicio</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__fast">
      <a href="#">Contacto</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slow">
      <a href="#">Tecnologías</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slower">
      <a href="#">Proyectos</a>
    </li>
    <li class="animate__animated animate__fadeIn animate__slower">
      <a href="#">Servicios</a>
    </li>
  </ul>
</aside>
