<div class="container-hero">
  <video autoplay loop poster="../../../assets/img/fondo_optimized.jpg">
    <source src="../../../assets/video/fondo_optimized.mp4" type="video/mp4" />
    <source src="../../../assets/video/2.webm" type="video/webm" />
  </video>
  <div class="container-text">
    <p>Fernando Diaz</p>
    <div class="container-subtitle">
      <h1>Web developer.</h1>
    </div>
  </div>
  <div class="row-container">
    <div class="container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </div>
</div>
