<footer>
  <div class="container-footer">
    <div class="container-image">
      <img src="../../../assets/img/MD.png" alt="" />
    </div>
    <div class="container-content">
      <p>Viviendo, aprendiendo y subiendo de nivel un día a la vez.</p>
    </div>
    <div class="container-redes">
      <a
        class="red1"
        href="https://www.instagram.com/fernydiaz62/"
        target="_blank"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="red2" href="https://github.com/Metaldev-06" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="red3" href="https://twitter.com/MetalDev_06" target="_blank">
        <i class="fa-brands fa-square-twitter"></i>
      </a>
      <a
        class="red4"
        href="https://www.linkedin.com/in/fernandodiaz62/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <p>Desarrollado por &copy; MetalDev | 2022</p>
  </div>
</footer>
