$breakpoints: (
    fold: 375px,
    lg : 490px,
);


@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
footer {
    width: 100%;
    padding: 20px;
    background-color: #111111;
    .container-footer {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .container-image {
            width: 150px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        .container-content {
            p {
                text-align: center;
                width: 300px;
                @include media-up(fold){
                    width: 150px;
                }
            }
        }
        .container-redes {
            display: flex;
            gap: 20px;
            @include media-up(fold){
                gap: 10px;
            }
            a {
                color: white;
                font-size: 3rem;
                transition: all .3s;
                @include media-up(fold){
                    font-size: 2rem;
                }
            }
            .red1:hover {
                transform: translateY(8px);
                background: #121FCF;
                background: linear-gradient(to top, #121FCF 0%, #CF1512 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .red2:hover {
                transform: translateY(8px);
                background: #000000;
                background: linear-gradient(to bottom, transparent 0%, #6d07e2 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .red3:hover {
                transform: translateY(8px);
                color: #1C96E8;
            }
            .red4:hover {
                transform: translateY(8px);
                color: #0A66C2;
            }
        }
    }
}