header {
    width: 100%;
    height: 10vh;
    font-size: 16px;
    position: fixed;
    z-index: 10000;
    .container-header {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: white;
            cursor: pointer;
        }
        .logo {
            font-size: 2rem;
            font-weight: bold;
            transition: all .3s;
        }
        .logo:hover {
            transform: scale(1.1);
        }
        .btn-container {
            width: 50px;
            height: 50px;
            position: relative;
            .line1, .line2, .line3 {
                position: absolute;
                content: '';
                width: 100%;
                height: 5px;
                background-color: white;
                border-radius: 5px;
                transform-origin: 50% 50%;
                transition: all .3s ease;
            }
            .line2 {
                right: 0;
                width: 70%;
                top: 15px;
            }
            
            .line3 {
                top: 30px;
            }
        }
        .btn-container:hover {
            .line2 {
                width: 100%;
            }
        }
    }
}