$base: 0.6rem;

$breakpoints: (
    fold: 375px,
    lg : 490px,
);


@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

.container-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 16px;
    background-attachment: fixed;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }
    .container-text {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p {
            font-size: 3rem;
            @include media-up(lg){
                font-size: 2rem;
            }
        }
        .container-subtitle {
            width: 450px;
            @include media-up(lg){
                width: 220px;
            }
            h1 {
                font-size: 4rem;
                font-weight: bold;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                margin: 0 auto;
                border-right: 0.15em solid #18bdec;
                animation: typing 1s steps(15, end) 1s 1 normal both, blink 1s steps(100) infinite;
                @include media-up(lg){
                    font-size: 2rem;
                    animation: typing 1s steps(15, end) 1s 1 normal both, blink 1s steps(100) infinite;
                    
                }
            }
            @keyframes typing {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
            @keyframes blink {
                50% {
                  border-color: transparent;
                }
            }
        }
    }
    .row-container {
        position: absolute;
        bottom: 100px;
        right: 50%;
        @include media-up(lg){
            bottom: 150px;
            
        }
        .container {
            position: relative;
            .chevron {
                position: absolute;
                width: $base * 3.5;
                height: $base * 0.8;
                opacity: 0;
                transform: scale(0.3);
                animation: move-chevron 3s ease-out infinite;
            }
               
            .chevron:first-child {
                animation: move-chevron 3s ease-out 1s infinite;
            }
               
            .chevron:nth-child(2) {
                animation: move-chevron 3s ease-out 2s infinite;
            }
               
            .chevron:before,
            .chevron:after {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                width: 50%;
                background: white;
            }
               
            .chevron:before {
                left: 0;
                transform: skewY(30deg);
            }
               
            .chevron:after {
                right: 0;
                width: 50%;
                transform: skewY(-30deg);
            }
               
            @keyframes move-chevron {
                25% {
                    opacity: 1;
                }
                33.3% {
                    opacity: 1;
                    transform: translateY($base * 3.8);
                }
                66.6% {
                    opacity: 1;
                    transform: translateY($base * 5.2);
                }
                100% {
                    opacity: 0;
                    transform: translateY($base * 8) scale(0.5);
                }
            }
        }
    }
       
}