<section class="container-pag-contactos">
  <article class="datos-contacto">
    <h2 class="title-contactos">Haz tu proyecto realidad</h2>
    <p>
      Déjame tus datos para que pueda ponerme en contacto contigo y empezar algo
      juntos.
    </p>
    <img src="../../../../assets/img/contacto.svg" alt="" />
  </article>
  <article class="form-contactos">
    <h2 class="title-contactos">Formulario de Contacto</h2>
    <form [formGroup]="datos">
      <input
        type="email"
        placeholder="Ingrese su correo"
        required
        formControlName="email"
      />
      <input
        type="text"
        placeholder="Asunto"
        required
        formControlName="asunto"
      />
      <textarea
        formControlName="mensaje"
        cols="30"
        rows="10"
        placeholder="Mensaje"
        required
      ></textarea>
      <button (click)="envioCorreo()">Enviar</button>
    </form>
  </article>
</section>
