<section class="aboutMe-container">
  <article class="content-aboutMe">
    <h2>Sobre Mi</h2>
    <div class="text">
      <p class="first-text">Hola! Mi nombre es <b>Fernando Diaz</b>.</p>
      <p>
        Soy un desarrollador y estudiante con experiencia en el área de
        desarrollo web. Me encanta <b>aprender</b> nuevas tecnologías y
        frameworks para mejorar mis habilidades. Siempre estoy armando proyectos
        para ver hasta donde puedo llegar y poco a poco lograr mis metas, así
        que espero que pronto podramos <b>trabajar juntos</b>!😁
      </p>
    </div>
  </article>
  <article class="tecnologias">
    <h2>Tecnologías</h2>
    <app-tecnologias></app-tecnologias>
  </article>
</section>
