/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    background-color: #18171B;
    color: white;
    cursor: url(./assets/img/cursor2.png), auto;
}
body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: grey;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #18171B;
    border-radius: 20px;
    border: 1px solid grey;
}

*::selection {
    background-color: #2AABD9;
    color: white;
}